@model WebNgheNhac.Models.CASI
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2 class="action">Thêm ca sĩ mới</h2>
<div class="container noidung">
    @using (Html.BeginForm("Create", "QLCasi", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.TEN_CS, "Tên Ca sĩ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TEN_CS, new { htmlAttributes = new { @class = "text-box" } })
                    @Html.ValidationMessageFor(model => model.TEN_CS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.THONGTIN_CS, "Thông tin ca sĩ", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.THONGTIN_CS, new { required = true, @class = "thongtin-area" })
                    @Html.ValidationMessageFor(model => model.THONGTIN_CS)
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Ảnh ca sĩ: </label>
                <div class="col-md-10">
                    <input type="file" id="fileUpload" name="fileUpload" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.QUOCGIA, "Quốc Gia: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("QUOCGIA", null, htmlAttributes: new { @class = "drop" })
                    <a href="@Url.Action("AddCountry","QLCasi")" class="cre-btn"><span class="glyphicon glyphicon-plus"></span>Thêm quốc gia</a>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Thêm" class="btn btn-danger" />
                </div>
            </div>
        </div>
    }
    <hr />
    <a href="@Url.Action("Index")" class="opt-btn"><span class="glyphicon glyphicon-arrow-left"></span> Quay lại</a>
</div>

