@model WebNgheNhac.Models.HomeModel
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="slider">
    <div id="imgs">
        <img id="Img1" src="~/Assets/images/anhbia1.jpg" alt="pic1" />
        <img id="Img2" src="~/Assets/images/anhbia2.jpg" alt="pic2" />
        <img id="Img3" src="~/Assets/images/anhbia3.jpg" alt="pic3" />
        <img id="Img4" src="~/Assets/images/anhbia4.jpg" alt="pic4" />
        <img id="Img5" src="~/Assets/images/anhbia5.jpg" alt="pic5" />
        <img id="Img6" src="~/Assets/images/anhbia6.jpg" alt="pic6" />
    </div>
    <div id="Snav">
        <div id="SnavMiddle">
            <img id="Sleft" src="~/Assets/images/left_arrow.png" alt="left" onclick="prev()" />
            <img id="Sright" src="~/Assets/images/right_arrow.png" alt="right" onclick="next()" />
        </div>
    </div>
</div>
<div class="box-noibat">
    <fieldset>
        <legend><span class="glyphicon glyphicon-bookmark"></span> Ca Khúc Nổi Bật</legend>
        @if (Model.LstBaiHat != null && Model.LstBaiHat.Count > 0)
        {
            foreach (var item in Model.LstBaiHat)
            {
                var imagePoster = (!string.IsNullOrEmpty(item.BaiHat.AnhBaiHat) ? item.BaiHat.AnhBaiHat : "/Assets/images/iconphone.png");
                <div class="item-noibat">
                    <div class="item-noibat-imgs">
                        <a href="/Nhac/Nghenhac/@item.BaiHat.MA_BH"><img src="@imagePoster" alt="cakhucnoibat" /></a>
                    </div>
                    <p><a href="/Nhac/Nghenhac/@item.BaiHat.MA_BH" id="tenplaylist">@item.BaiHat.TEN_BH</a></p>
                    <p><a href="/Nhac/Casi/@item.BaiHat.MA_CS" id="tenuser">@item.Ten_Cs</a></p>
                </div>
            }
        }
    </fieldset>
    <fieldset>

        @if (Model.LstAlbum != null && Model.LstAlbum.Count > 0)
        {
            <legend><span class="glyphicon glyphicon-bookmark"></span> Album Nổi Bật</legend>
            foreach (var item in Model.LstAlbum)
            {
                <div class="item-noibat">
                    <div class="item-noibat-imgs">
                        <a href="/Nhac/AlbumNhac/@item.Album.MA_AB"><img src="@item.Album.ANH_AB" alt="album nổi bật" /></a>
                    </div>
                    <p><a href="/Nhac/AlbumNhac/@item.Album.MA_AB" id="tenplaylist">@item.Album.TEN_AB</a></p>
                    <p><a href="/Nhac/Casi/@item.Album.MA_CS" id="tenuser">@item.Ten_Cs</a></p>
                </div>
            }
        }

    </fieldset>
</div>